/* Resume Box */
.resume-box {
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  padding: 20px 0;
  margin: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.resume-icon {
  width: 100%;
  max-width: 78px;
  height: auto;
  display: block;
}

.resume-info h3 {
  margin: 0 0 5px 0;
  font-size: 24px;
  font-family: Georgia, serif;
}

.resume-info a {
  font-family: "Courier New", Courier, monospace;
  color: #6b4c9a;
  text-decoration: none;
  font-size: 20px;
}

.resume-info a:hover {
  text-decoration: underline;
}

@media (max-width: 1024px) {
  .resume-icon {
    width: 100%;
    max-width: 110px;
    height: auto;
    display: block;
  }

  .resume-info h3 {
    font-size: 48px;
  }

  .resume-info a {
    font-size: 36px;
    font-weight: 550;
  }
}
